<%- include('partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/public/photo.jpeg" class="d-block w-100" alt="MY PHOTO">
          </div>
        </div>
      </div>
      <h1>Prakhar Shukla</h1>
      <p>I am a driven individual with a growth mindset, constantly seeking new opportunities to learn and improve. My strong work ethic and diverse skill set allow me to tackle any challenge that comes my way. I am dedicated to achieving my goals and am always looking for ways to elevate myself in every aspect of my life. To support my personal and professional growth, I engage in regular physical activity such as gymming and yoga to maintain a healthy body and mind. I am also a voracious reader, particularly interested in the study of human psychology, which gives me a deeper understanding of the world around me. Additionally, I have a passion for fashion and the impact of technology on personal style. In conclusion, I am constantly striving for self-improvement, both in my personal and professional life, and am dedicated to achieving my goals and elevating myself every day.</p>
      <a href="https://docs.google.com/document/d/1MQQvdNaW8ImY8Ph-WpB0wv3rFdEaCoi4Zj24aywi8d0/edit?usp=sharing">My Resume</a>
</body>
</html>


<%- include('partials/footer') %>