<%- include('partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio Website</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">


  </head>
  <body>
    <main class="main">
      <h1>Welcome to My Personal Portfolio Website!</h1>
      <p>I am a driven individual with a growth mindset, constantly seeking new opportunities to learn and improve. My strong work ethic and diverse skill set allow me to tackle any challenge that comes my way. I am dedicated to achieving my goals and am always looking for ways to elevate myself in every aspect of my life. 
    
        To support my personal and professional growth, I engage in regular physical activity such as gymming and yoga to maintain a healthy body and mind. I am also a voracious reader, particularly interested in the study of human psychology, which gives me a deeper understanding of the world around me. Additionally, I have a passion for fashion and the impact of technology on personal style. In conclusion, I am constantly striving for self-improvement, both in my personal and professional life, and am dedicated to achieving my goals and elevating myself every day.
        </p>
      <a href="/about" class="btn">Learn More</a>
    </main>
  </body>
</html>










<%- include('partials/footer') %>
