<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2>Project One</h2></li>
        <h4>Clerk App Java</h4>
        <p> This application which I developed in Java was for the data centers to make entries of the students at university. It automatically saves the data as you enter in the software and will generate a POS receipt for the student. It was able to perform the following functionalities.
            
            
            Data Entry: The application allows the data center to enter student information such as name, ID, contact details, and course information. This data is automatically saved as it is entered into the software. 
            
            Automatic Data Saving: As the data center enters the student information, the application automatically saves the data in a database. This ensures that the data is not lost in case of any unexpected interruption or system failure. 
            
            POS receipt generation: Once the data entry is complete, the application generates a POS receipt for the student. This receipt includes the student's name, ID, and the course information. This receipt can be used for future reference and proof of enrollment. 
            
            Data validation: The application also performs basic data validation, such as checking if the entered student ID is unique or if the entered data is in correct format. 
            
            User interface: The application has a user-friendly interface which is easy to navigate and use, allowing the data center staff to enter the data with ease. 
            
            In conclusion, the application is designed to automate the data entry process at the university data center and generate POS receipt, with added functionalities of data validation and user-friendly interface, providing an efficient and accurate way to keep track of student records.
            </p>

            <li class="list-group-item"><h2>Project Two</h2></li>
            <h4>Student Portal</h4>
            <p>This Web application provides a platform for students to interact with professors, communicate with peers and get notifications, all in one place. It also provides a user-friendly interface and efficient data storage.
                While making this project I realized the strings which are connected with everything in the IT world. For example, in order to develop a website one must have an understanding of networking so that the developer can easily make connections with a server and publish the code on the internet. The functional breakdown of the project is mentioned below.
                </p>

                <li class="list-group-item"><h2>Project Three</h2></li>
                <h4>Full Stack Video Streaming React App</h4>
                <a href="https://github.com/patekprakhar/wesurf9826">Git Link</a>   
      </ul>
</body>
</html>




<%- include('partials/footer') %>